<div class="form-description">
  <form id="oronder-settings" autocomplete="off" onsubmit="preventDefault();">
    <div class="form-content">

      <p>{{localize "oronder.Fetch-Discord-Ids"}}</p>
      <button title="Fetch" class="menu-button"><i class="fas fa-check"></i> {{localize "oronder.idk"}}</button>

    </div>
  </form>
</div>